/* fast read origin */

body {
    font-family: 'BIZ UDPGothic', 'M PLUS 1p', 'Ubuntu', 'Arial', 'libra sans' sans-serif;
    font-feature-settings: "palt";
}

#stage {
    font-size: 16px;
    width: 100%;
}

#result {
    box-sizing:content-box;
    padding: 1rem;
    border: 1px solid #CCC;
}

#result p {
    max-width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 1.2rem;
    line-height: 1.2;
}

#result p span {
    display: -webkit-inline-flex;
    display: inline-flex;
    white-space: nowrap;
    position: relative;
}

#stage .hide{
    display: none;
}

#stage .show {
    display: block;
}

@media (max-width: 772px) {
    #result {
        box-sizing:content-box;
        padding: 0;
        border: none;
    }
    
}

.vibration span {
    animation-name: vibration;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    position: relative;
}

.vibration span:nth-child(4n){
    animation-delay: 0s;
}

.vibration span:nth-child(4n+1){
    animation-delay: 250ms;
}

.vibration span:nth-child(4n+2){
    animation-delay: 500ms;
}

.vibration span:nth-child(4n+3){
    animation-delay: 750ms;
}

@keyframes vibration {
    3% {
        left : 2px;
    }  
    40% {
        left: 0px;
    }
    50% {
        left: 0px;
    }
    54%{
        left: 2px;
    }
    90%{
        left:0px;
    }
    100% {
        left:0px;
    }
  }